.container-body{
  padding: 1rem !important;
  min-height: calc(100vh - 280px);
}
.content-header{
  margin-bottom: 1rem;
} 
.center{
  text-align: center;
}
.td-click{
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .table-products .table thead th:not(:first-child):not(:nth-child(2)):not(:nth-child(7)),
  .table-products .table tbody td:not(:first-child):not(:nth-child(2)):not(:nth-child(7)) {
      display: none;
  }
  .table{
    font-size: .7rem;
  }
  .btn-lg {
    display: none;
  }
}


