.container-body{
  padding: 1rem !important;
}
.content-header{
  margin-bottom: 1rem;
} 

@media (max-width: 767.98px) {
  .table thead th:not(:first-child):not(:nth-child(2)),
  .table tbody td:not(:first-child):not(:nth-child(2)) {
      display: none;
  }
}